
<div class="resources-container">
    <h2>Resources</h2>
    <div class="resource-cards">
      <div class="resource-card" *ngFor="let resource of resources">
        <img [src]="resource.imageUrl" alt="{{ resource.title }}" class="resource-image" />
        <h3>{{ resource.title }}</h3>
        <p>{{ resource.description }}</p>
        <a  class="view-details">View More Details</a>
      </div>
    </div>
  </div>
  <footer>
    <section class="about">
      <h3>Contact Us</h3>
      <p>
        We would love to hear from you! Whether you have questions, feedback, or just want to say hello, feel free to reach out to us.
      </p>
      <p><strong>Email:</strong> contact&#64;edutech.com</p>
      <p><strong>Phone:</strong> +1 (555) 123-4567</p>
      <p><strong>Address:</strong> 123 Learning Lane, Knowledge City, CA 90210</p>
    </section>
  </footer>
  