/* You can add global styles to this file, and also import other style files */
body {
    background-image: url('assets/tech.jpg');
    background-size: cover; /* Cover the entire viewport, scaling the image as needed */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-attachment: fixed; /* Keep the image fixed in place when scrolling */
  }
  